# Created by .ignore support plugin (hsz.mobi)
/src/main/resources/cartridge
/lib
/.idea
/src/main/resources/snapshot
/src/main/resources/rom
/src/main/resources/list/
/src/main/resources/cover
/src/main/resources/cartridge/
/src/main/resources/app
src/main/resources/font/
target/
