# Created by .ignore support plugin (hsz.mobi)
/src/main/resources/cartridge
/src/main/resources/snapshot
/src/main/resources/cover
/src/main/resources/app
/src/main/resources/rom
/src/main/kotlin/utils/listGames/ListGames.kt
/lib